@import url(reset.css);

header{
  background-color: #90f2af; 
  height: 50px;
  }

.container{
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 30px;
  text-transform: uppercase;
  padding-top: 10px;
  
  }
  li{
    background-color: orange;
    padding: 5px 10px;
  }
a {
  text-decoration: none;
}










